
  <!-- Contenu principal -->
  <div class="container my-5">
    <h1 class="mb-4">Liste des étudiants</h1>
    
    <!-- Bouton pour ajouter un nouvel étudiant -->
    <div class="mb-3">
      <a href="<%= new_etudiant_path %>" class="btn btn-success">Ajouter un nouvel étudiant</a>
    </div>

    <!-- Tableau des étudiants -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Date de naissance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @etudiants.each do |etudiant| %>
        <tr>
          <td><%= etudiant.nom %></td>
          <td><%= etudiant.prenom %></td>
          <td><%= etudiant.email %></td>
          <td><%= etudiant.date_naissance %></td>
          <td>
            <a href="<%= edit_etudiant_path(etudiant) %>" class="btn btn-primary btn-sm">Modifier</a>
            <%= link_to 'Supprimer', etudiant_path(etudiant), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
